@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
</div>

@* This is called a Razor page. A front end for ASP.NET Core backend *@
